body {
  background-image: linear-gradient(10deg, #e6a61c 0%, #9aaeda 74%);
}

label.form-label {
  font-size: 1.2rem;
  font-weight: 500;
}

.dash input.form-control{
  background: white;
  text-transform: uppercase;
}

.dash input.form-control::placeholder{
  color: black;
}